*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#0f172a;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

overflow:hidden;

color:white;

}

.bg{

position:absolute;

width:500px;

height:500px;

background:#7c3aed;

filter:blur(180px);

opacity:.4;

border-radius:50%;

animation:move 8s infinite alternate;

}

@keyframes move{

from{

transform:translate(-200px,-100px);

}

to{

transform:translate(150px,120px);

}

}

.card{

position:relative;

width:420px;

padding:40px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-radius:30px;

text-align:center;

box-shadow:0 0 30px rgba(0,0,0,.4);

}

.profile img{

width:120px;

border-radius:50%;

border:5px solid #7c3aed;

margin-bottom:20px;

}

h1{

font-size:34px;

margin-bottom:10px;

}

.status{

margin:20px auto;

display:inline-flex;

align-items:center;

gap:10px;

padding:10px 20px;

background:#1e293b;

border-radius:30px;

}

.dot{

width:12px;

height:12px;

background:#22c55e;

border-radius:50%;

animation:blink 1s infinite;

}

@keyframes blink{

50%{

opacity:.2;

}

}

.info{

display:flex;

justify-content:space-between;

margin:30px 0;

}

.info div{

width:45%;

padding:15px;

background:#1e293b;

border-radius:15px;

}

button{

width:100%;

padding:15px;

border:none;

background:#7c3aed;

color:white;

font-size:18px;

border-radius:15px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#9333ea;

transform:scale(1.03);

}
